*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    --var-white: #FFFFFF;
    --var-grey: #949494;
    --var-blue-700: #36384d;
    --var-blue-800: #242742;
    --var-red: #FF6155;
    --var-grey-900: #48556A;
    --var-gradient: linear-gradient(to right, #FF6A3A, #FF527B);

    --var-spacing-100: 8px;
    --var-spacing-200: 16px;
    --var-spacing-300: 24px;
    --var-spacing-400: 32px;
    --var-spacing-500: 40px;
    --var-spacing-600: 48px;
    --var-spacing-800: 64em;
    --var-spacing-900: 72px;
    --var-spacing-1300: 104px;

    font-family: "Roboto", sans-serif;
    background-color: var(--var-white);

    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.text-preset-1 {
    font-size: 2.5em;
    letter-spacing: 0;
}

.text-preset-2 {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0;
}

.text-preset-3 {
    font-size: 0.75em;
    line-height: 1.5;
}

button {
    position: relative;
    padding-inline: var(--var-spacing-300);
    padding-block: var(--var-spacing-200);

    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 700;

    border-radius: var(--var-spacing-100);
    color: white;
    background-color: var(--var-blue-800);
    width: 100%;
}

button::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--var-gradient);
    opacity: 0;
    transition: 0.2s;
}

button:hover {
    cursor: pointer;
}

button:hover::before {
    opacity: 1;
}

.button-text {
    position: relative;
    z-index: 1;
}

.bold {
    font-weight: 700;
}

.card {
    background-color: var(--var-white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--var-spacing-500);
}

.card-banner {
    display: flex;
    justify-content: center;
}

.card-description {
    display: flex;
    flex-direction: column;
    gap: var(--var-spacing-300);
    
}

.card-content {
    display: flex;
    flex-direction: column;
    padding-inline: var(--var-spacing-300);
    gap: var(--var-spacing-500);
}

ul {
    display: flex;
    flex-direction: column;
    gap: var(--var-spacing-100);
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    padding-left: var(--var-spacing-400);
}

li::before {
    content: "";
    display: inline-block;
    background-image: url("assets/images/icon-list.svg");
    width: 21px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
}

.email-labels {
    display: flex;
    justify-content: space-between;
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: var(--var-spacing-300);
    margin-bottom: 44px;
}

.email-input {
    display: flex;
    flex-direction: column;
    gap: var(--var-spacing-100);
}

.email-input-box {
    color: var(--var-blue-800);
    padding-inline: var(--var-spacing-300);
    padding-block: var(--var-spacing-200);
    border-radius: var(--var-spacing-100);
}

.error {
    color: var(--var-red);
}

.dismiss-section {
    padding-inline: var(--var-spacing-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 170px;
    min-height: 623px;
}

.hidden {
    display: none;
}

picture {
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: var(--var-spacing-400);
}

@media screen and (min-width: 768px) {
    picture {
        height: 358px;
    }

    img {
        border-radius: var(--var-spacing-100);
    }

    .email-form {
        margin-bottom: 0;
    }

    body {
        align-items: center;
        background-color: var(--var-blue-700);
    }

    .card {
        padding: var(--var-spacing-500);
        border-radius: var(--var-spacing-200);
    }

    .card-content {
        gap: var(--var-spacing-300);
        padding: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .text-preset-1 {
        font-size: 3.5em;
    }
    .card {
        flex-direction: row-reverse;
        align-items: center;
        padding: var(--var-spacing-400);
    }

    .card-content {
        gap:  var(--var-spacing-400);
        width: 450px;
    }

    .card-description {
        gap:  var(--var-spacing-400);
        padding-right: var(--var-spacing-500);
    }

    picture {
        height: auto;
    }
}